{
  "extends": "eslint-config-egg",
  // for experimental features support
  "parser": "babel-eslint",
  "rules": {
    // see https://github.com/eslint/eslint/issues/6274
    // 允许使用async
    "generator-star-spacing": "off",
    "babel/generator-star-spacing": "off",
    "arrow-parens": 0,
    "eol-last": 0,
    "space-before-function-paren": 0,
    "comma-dangle": 0,
    "no-return-assign": 0,
    "camelcase": 0,
    "no-useless-computed-key": 0,
    "quotes": [1, "single"], //引号类型 `` "" ''
    "semi": [1, "never"],
    "no-unused-vars": 0,
    "array-bracket-spacing": 0,
    "no-unexpected-multiline": 0,
    "no-unused-expressions": 0,
    "no-sequences": 0,
    "func-call-spacing": 0,
    "eqeqeq": 0,
    "brace-style": 0,
    "no-irregular-whitespace": 0,
    "no-undef": 0,
    "prefer-promise-reject-errors": 0
  }
}